/* ===== All pages === */

body {
    background: url("/images/bgcupc.jpg") no-repeat center ;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

label {
    color: white;
    margin-top: 2px;
}

.mjlogo {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

/* ===== Welcome page === */

#welcomediv {
    padding-top: 80px;
}

/* ===== Register === */

#regbtn {
    margin-top: 5px;
}

#name, #email, #password, #password2 {
    color: white;
}

/* ===== Login === */

#logindiv {
    padding-top: 50px;
}

#loginbtn {
    margin-top: 10px;
}

/* ===== Dashboard === */

.divtable {
    background-color: black;
    opacity: 0.3;
    padding: 20px;
    border-radius: 20px;
}

.mjlogodb {
    width: 15%;
    height: auto;

    padding-top: 20px;
    float: right;
}

.dblogo {
    position: relative;
    float: right;
}

#dashboard, #welcome {
    float: left;
}

#welcome {
    color: black;
}

#logoutbtn {
    float: left;
    margin: 0 10px ;
}

.font1{
    color: black;
}